<h1>Courses</h1>
<table class="table">
  <thead>
    <tr>
      <th>Title</th>
      <th>Content</th>
      <th>Start dt</th>
      <th>End dt</th>
      <th>Status</th>
      <th>Student length</th>
      <th colspan="5"></th>
    </tr>
  </thead>

  <tbody>
    <% @courses.each do |course| %>
      <tr>
        <td><%= course.title %></td>
        <td><%= course.content %></td>
        <td><%= course.start_dt %></td>
        <td><%= course.end_dt %></td>
        <td><%= course.status %></td>
        <td><%= course.student_length %></td>
        <td><%= link_to 'Show', course %></td>
        <td><%= link_to 'Comments', course_comments_path(course) %></td>
        <% if current_user.teacher? %>
          <td><%= link_to 'Edit', edit_course_path(course) %></td>
          <td><%= link_to 'Destroy', course, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          <td><%= link_to 'Intersted Student', course_interested_courses_path(course) %></td>
        <% end %>
        <% if current_user.student? %>
          <td>
            <% if course.join_by_student?(current_user.id) %>
              <strong> <%= get_request_status(course) %> </strong>
            <% else %>
              <%= link_to 'Join', course_interested_courses_path(course), method: :post %>
            <%end%>
            </td>
          <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
