<p id="notice"><%= notice %></p>

<h1>Courses</h1>

<table class="table">
  <thead>
    <tr>
      <th>Title</th>
      <th>Content</th>
      <th>Start dt</th>
      <th>End dt</th>
      <th>Teacher Name</th>
      <th>Student length</th>
      <th colspan="3"> Status </th>
    </tr>
  </thead>

  <tbody>
    <% @courses.each do |course| %>
      <tr>
        <td><%= course.title %></td>
        <td><%= course.content %></td>
        <td><%= course.start_dt %></td>
        <td><%= course.end_dt %></td>
        <td><%= course.teacher_name %></td>
        <td><%= course.student_length %></td>
        <td>
          <% if course.pending?%>
            <%= link_to "Approved", approved_admin_course_path(course), class: "btn btn-primary", method: :put%>
          <% else %>
            <strong> Approved </strong>
          <% end %>
        </td>
        <td>
          <%= link_to "Show", admin_course_path(course), class: "btn btn-primary" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
